.container {
    margin-top: 6em;
    margin-bottom: 6em;
    padding: 40px 120px;
    background: lightgrey;
    border-radius: 24px;
}

a.concertItem {
    text-decoration: none;
    color: black;
}

.concertImg {
    border: 10px solid transparent;
}

.concertImg:hover {
    border-color: darkgrey;
}