#myCarousel {
    margin-top: 8em;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    height:50%;
}
.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */
    width: 100%;
    margin: auto;
}
.carousel-caption h3 {
    color: #fff !important;
}
@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}